# CONFIGURAÇOES SERVER
PORT=3000

# BANCO DE DADOS POSTGRESQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mao_amiga
DB_USER=postgres
DB_PASSWORD=sua_senha_aqui

# MESMA COISA
JWT_SECRET=mude_esta_chave_para_algo_seguro_e_aleatorio
JWT_EXPIRES_IN=7d
