# CONFIGURAÇOES SERVER
PORT=3000

# BANCO DE DADOS POSTGRESQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mao_amiga
DB_USER=postgres
DB_PASSWORD=senha

# MESMA COISA
JWT_SECRET=coloque_algo_seguro
JWT_EXPIRES_IN=7d
